* {
  margin: 0;
}

/* Cascata stylesheet */
html,
body {
  /* Variavel no CSS */
  --gray: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);

  height: 100%;
  font-family: 'Roboto', sans-serif;

  /* webkit - indica que a propriedade na frent dele vai funcionar somente nos navegadores webkit */
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(../images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

/* Especificidade de classe */
.container {
  /* Largura maxima*/
  max-width: 250px;

  /* Margem ou espaços*/
  margin: auto;

  /*Propriedade de alinhamento central
  Serve para texto ou elementos que recebem propriedades de texto
  */
  text-align: center;

  /* Usando variavel criada pra definir cor */
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  /* Defini a classe de contenção como o detentor, o limite para os elementos que se enontram dentro dele*/
  position: relative;
}

/* Procura na classe definida o elemento requerido */
.avatar span {
  position: absolute;

  /* Desloca a imagem que está sobrepondo a outro para cima */
  top: -15px;
  right: -25px;

  /* Defini eixo de proporção (profundidade) */
  z-index: 1;
}

/* Captura a imagem do primeiro nivel da contenção */
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  color: aliceblue;
  font-size: 2rem;
  text-align: center;

  margin-top: 1.5rem;
}

a {
  display: flex;
  gap: 0.75rem;
  justify-content: center;

  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  /* Tira as bolinhas de marcação */
  list-style: none;

  /* Preenchimento */
  padding: 0;

  display: flex; /* Elementos alinhados um ao lado do outro */

  /* flex sempre trabalha com eixo principal e eixo cruzado */

  /* Espaço entre os elementos */
  gap: 0.5rem;

  /* Alinhamento por causa do flex */
  justify-content: center;
}
